*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Set rem instead of px by default font size to 10px */
  /* font-size: 10px; 10/16 = 0.625 */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

